@use 'variables';
@use 'shared-styles';
@use 'responsive';

.bg-section-wrapper {
  width: 100%;
  height: 320px;
  background-image: url("./img/background.svg");
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: end;
  padding: 0 0 64px 64px;

  @include responsive.screen-xl {
    padding: 122px 32px 32px 32px;
    display: block;
    background-position: center;
  }

  @include responsive.screen-sm {
    padding: 50px 10px 0 10px;
    display: block;
    background-position: center;
  }

  p {
    font-size: variables.$font-size-1;
    line-height: 150%;

    @include responsive.screen-md {
      margin: 0;
      padding-top: 16px;
    }
  }
}

.bg-section-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 120px 0;
  gap: 10px;

  .logo-none {

    @include responsive.screen-md {
      display: none;
    }
  }

  @include responsive.screen-lg {
    justify-items: end;
    align-items: center;
    padding: 64px 0 56px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 27px;
  }

  @include responsive.screen-lg-sm {
    display: flex;
    flex-wrap: wrap;
  }

  @include responsive.screen-md {
    justify-items: baseline;
    padding: 64px 10px 56px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include responsive.screen-sm {
    display: flex;
    flex-direction: column;
  }
}