@use 'variables';
@use 'responsive';

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: variables.$spacing-container-1 variables.$spacing-container-2;
  background-color: variables.$color-light-1;

  @include responsive.screen-lg {
    padding: 35px 40px
  }

  @include responsive.screen-md {
    padding: 0
  }
}