$font-family: 'Inter', sans-serif;

$font-size-1: 20px;
$font-size-2: 96px;
$font-size-3: 40px;
$font-size-4: 12px;
$font-size-5: 18px;

$font-weight-1: 700;
$font-weight-2: 900;
$font-weight-3: 600;
$font-weight-4: 500;
$font-weight-5: 400;


$color-light-1: white;
$color-light-2: #EEEEEE;
$color-pink: #FF3998;
$color-dark-2: #555555;
$color-dark-3: #777777;
$color-orange: #FF8139;
$color-dark-4: #999999;


$spacing-container-1: 70px;
$spacing-container-2: 80px;
